{
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "rules": {
      "semi": "error"
  },
  "settings": {
    "import/resolver": {
      "@images": "./src/assets/images/"
    }
  }
}