.app-section {
  &--intro {
    background-image: linear-gradient(90deg, #ffffff 10%, #f1f1f1 40%);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  &--demo {
    background: linear-gradient(#FB25B4, #F21F59);
    margin-top: 100vh;
  }
}