.footer {
  background: #1E1E1E;
  padding: 28px 0;
  box-shadow: 0 0px 0 1px #1E1E1E;

  .wrapper-sm {
    display: flex;
    flex-direction: column-reverse;

    @include breakpoint-laptop {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.footer-credits {
  font-weight: 400;
  color: #707070;
  line-height: 24px;
}

.footer-menu {
  display: flex;
  flex-direction: column;

  a {
    text-align: center;
    color: #707070;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 12px;
    line-height: 24px;

    &:last-child {
      margin-bottom: 42px;
    }
  }

  @include breakpoint-laptop {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 28px;

    a {
      margin-right: 24px;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }
}