.header {
  position: fixed;
  top: 0;
  left:0;
  background: #ffffff;
  width: 100%;
  z-index: 100;

  .wrapper-sm {
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    display: flex;
    align-items: center;
    width: 100%;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-family: $default-font;
      font-size: 24px;
      font-weight: 600;
      color: $red;
    }

    img {
      margin-right: 16px;
    }
  }

  &__download {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;

    a {
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.download-icon {
  &:hover {
    opacity: 0.8;
  }
}