.header {
  position: fixed;
  top: 0;
  left:0;
  background: #ffffff;
  width: 100%;
  z-index: 100;

  .wrapper-sm {
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: space-between;
  }
}


.header-title {
  display: none;
  align-items: center;
  width: 100%;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: $title-font;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 600;
    color: $red;

    img {
      margin-right: 16px;
      transition: 0.5s ease-in-out;
    }
  }

  a:hover {
    img {
      transform: scale(1.03);
      /*box-shadow: 0 20px 50px 0 rgba(0,0,0,.15);*/
    }
  }

  @include breakpoint-laptop {
    display: flex;
  }
}

.header-download {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;

  a {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 24px;

    @include breakpoint-laptop {
      width: auto;
      flex-grow: 0;
      flex-shrink: 0;
    }

    img {
      width: 100%;
      height: auto;

      @include breakpoint-laptop {
        width: auto;
        height: 48px;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.download-icon {
  &:hover {
    opacity: 0.8;
  }
}