.button {
  appearance: none;
  display: block;
  min-width: 250px;
  background: transparent;
  line-height: 37px;
  padding: 6px 32px;
  margin: 0;
  box-shadow: none;
  border: 3px solid #ffffff;
  border-radius: 30px;
  outline: none;
  color: #ffffff;
  font-weight: 700;
  font-family: $default-font;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all ease 0.35s;

  &--red {
    border-color: $red;
    color: $red;
  }

  svg {
    height: 19px;
    margin-left: 10px;
    animation: catchy 1.5s infinite;
    -webkit-animation: catchy 1.5s infinite;
    transition: all ease 0.35s;

    path {
      fill: $red;
    }
  }

  &:hover {
    color: #ffffff;
    background: $red;
    
  
    svg {
      path {
        fill: #ffffff;
      }
    }
  }
}

@keyframes catchy {
  0% {transform: translateY(0px)};
  25% {transform: translateY(5px)};
  50% {transform: translateY(-5px)};
  75% {transform: translateY(0px)};
  100% {transform: translateY(0px)};
}

@-webkit-keyframes catchy {
  0% {transform: translateY(0px)};
  25% {transform: translateY(5px)};
  50% {transform: translateY(-5px)};
  75% {transform: translateY(0px)};
  100% {transform: translateY(0px)};
}
