.button {
  appearance: none;
  display: block;
  min-width: 225px;
  background: transparent;
  line-height: 37px;
  padding: 6px 24px;
  margin: 0;
  box-shadow: none;
  border: 3px solid #ffffff;
  border-radius: 30px;
  outline: none;
  color: #ffffff;
  font-weight: 700;
  font-family: $default-font;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  &--red {
    border-color: $red;
    color: $red;
  }

  svg {
    height: 19px;
    margin-left: 10px;
    animation: catchy 1.5s infinite;
    -webkit-animation: catchy 1.5s infinite;

    path {
      fill: $red;
    }
  }
}

@keyframes catchy {
  0% {transform: translateY(0px)};
  25% {transform: translateY(5px)};
  50% {transform: translateY(-5px)};
  75% {transform: translateY(0px)};
  100% {transform: translateY(0px)};
}

@-webkit-keyframes catchy {
  0% {transform: translateY(0px)};
  25% {transform: translateY(5px)};
  50% {transform: translateY(-5px)};
  75% {transform: translateY(0px)};
  100% {transform: translateY(0px)};
}

.button:hover {
  color: $pink;
  border-color: $pink;

  svg {
    path {
      fill: $pink;
    }
  }
}