.app {
  width: 100%;
  margin-bottom: 32px;

  img {
    display: block;
    max-width: 150px;
    margin: 0 auto;
  }

  @include breakpoint-laptop {
    display: none;
  }
}

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  @include breakpoint-laptop {
    justify-content: center;
    min-height: 550px;
    max-width: calc(100% - 550px);
  }

  #illustration {
    display: none;
    position: absolute;
    top: 0;
    width: 550px;
    height: 550px;
    left: 100%;
    z-index: -1;

    @include breakpoint-laptop {
      display: block;
    }
  }

  h1 {
    width: 100%;
    text-decoration: none;
    font-family: $title-font;
    text-transform: capitalize;
    font-size: 46px;
    line-height: 56px;
    margin-bottom: 16px;
    font-weight: 600;
    color: $red;
    text-align: center;

    @include breakpoint-tablet {
      font-size: 68px;
      line-height: 78px;
      margin-bottom: 24px;
    }

    @include breakpoint-laptop {
      text-align: left;
    }
  }

  h2 {
    width: 100%;
    font-family: $default-font;
    font-weight: 100;
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 16px;
    text-align: center;
    color: #000;

    @include breakpoint-tablet {
      font-size: 70px;
      line-height: 80px;
      margin-bottom: 32px;
    }

    @include breakpoint-laptop {
      text-align: left;
    }
  }

  p {
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #7c7c7c;
    text-align: center;
    margin-bottom: 38px;

    @include breakpoint-tablet {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 48px;
    }

    @include breakpoint-laptop {
      text-align: left;
    }
  }

  .button {
    width: 100%;
    margin: 0 auto;
    max-width: 375px;

    @include breakpoint-tablet {
      width: auto;
    }

    @include breakpoint-laptop {
      margin: 0;
    }
  }

  .emphasis {
    font-family: $default-font;
    font-weight: bold;

    &--red {
      color: $red;
    }
  }
}