.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 675px;

  h2 {
    width: 100%;
    font-family: $default-font;
    font-weight: 100;
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 16px;
    color: #000;

    @include breakpoint-laptop {
      font-size: 70px;
      line-height: 80px;
      margin-bottom: 32px;
    }
  }

  p {
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #7c7c7c;
    margin-bottom: 38px;

    @include breakpoint-laptop {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 48px;
    }
  }

  .button {
    width: 100%;
    max-width: 375px;

    @include breakpoint-laptop {
      width: auto;
    }
  }

  .emphasis {
    font-family: $default-font;
    font-weight: bold;

    &--red {
      color: $red;
    }
  }
}