.app {
  width: 100%;
  margin-bottom: 32px;

  img {
    display: block;
    max-width: 150px;
    margin: 0 auto;
  }

  @include breakpoint-laptop {
    display: none;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 675px;


  h1 {
    width: 100%;
    text-decoration: none;
    font-family: $default-font;
    text-transform: capitalize;
    font-size: 46px;
    line-height: 56px;
    margin-bottom: 16px;
    font-weight: 600;
    color: $red;
    text-align: center;

    @include breakpoint-tablet {
      text-align: left;
      font-size: 70px;
      line-height: 80px;
      margin-bottom: 32px;
    }
  }

  h2 {
    width: 100%;
    font-family: $default-font;
    font-weight: 100;
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 16px;
    text-align: center;
    color: #000;

    @include breakpoint-tablet {
      text-align: left;
      font-size: 70px;
      line-height: 80px;
      margin-bottom: 32px;
    }
  }

  p {
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #7c7c7c;
    text-align: center;
    margin-bottom: 38px;

    @include breakpoint-tablet {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 48px;
      text-align: left;
    }
  }

  .button {
    width: 100%;

    @include breakpoint-tablet {
      width: auto;
      max-width: 375px;
    }
  }

  .emphasis {
    font-family: $default-font;
    font-weight: bold;

    &--red {
      color: $red;
    }
  }
}