$default-font: 'Roboto', Arial, sans-serif;
$title-font: 'adelle', serif;

$red: #F21F59;
$pink: #FB25B4;

$breakpoint-tablet: 600px !default;
$breakpoint-laptop: 992px !default;
$breakpoint-laptop-sh: 760px !default;
$breakpoint-desktop: 1200px !default;