@import 'reset-css';

@import url('https://use.typekit.net/pho1een.css');
@import './fonts';

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: $default-font;
  font-size: 16px;
}

@import './mixins/_breakpoints';

@import './components/_button';
@import './components/_feature';
@import './components/_intro';
@import './components/_phone';

@import './layout/_wrapper';
@import './layout/_header';
@import './layout/_content';
@import './layout/_section';
@import './layout/_footer';